// path
// $img_path: '/common/images';

// whitespace
$narrow: 1rem;
$normal: 2.4rem;
$wide: 4.8rem;
$widest: 6rem;
$goldRatio: 1.6;

//width
$layout-width-canvas: 1280px;
$layout-width-inner: 1110px;
$layout-width-sp: 768px;

$breakpoints: (
  "sp": "(max-width: #{($layout-width-sp) - 1px})",
  "tab-only": "(min-width: #{($layout-width-sp)}) and (max-width: #{($layout-width-canvas) - 1px})",
  "tab": "(max-width: #{($layout-width-inner) - 1px})",
  "pc": "(min-width: #{$layout-width-canvas})",
) !default;

// 余白
$pd-x-pc: 8.7893%; //90px
$pd-x-tab: 32px;
$pd-x-sp: 5%; //20px

// ヘッダー高さ
$header-height-sp: 60px;
$header-height-pc: 60px;

// z-index の指定
$layer: (
	loading: 200,
	modal: 100,
	drawer: 40,
	floating: 30,
	pagetop: 30,
	header: 20,
	footer: 10,
	default: 1,
	bg: -1
);

// アイコン
$icon-width: 30px;
$icon-height: 30px;
$icon-font: 30px;

// ドロワー
$drawer-bar-space: 5px;
$drawer-bar-width: 30px;
$drawer-bar-height: 3px;

// color
// ベース色
$color-main: #333;
$color-sub: #595757;
$color-accent: #F7B97D;
$color-background: #d8d8d8;
$color-text: #333333;
$color-line: #595757;
$text-accent: #d8d8d8;
$color-brown: #6f3f1e;

// color-Grayscale
$black_dark: #000;
$black_middle: #423e3e;
$black_light: #999;
$black_base: #4d4d4d;
$gray_dark: #b8b8b8;
$gray_base: #ddd;
$gray_light: #eee;
$gray_lightest: #f6f6f6;
$white: #fff;
$black_bg: rgba(0, 0, 0, 0.3);
$black_bg_modal: rgba(0, 0, 0, 0.5);

// transition
$transition: 0.4s;

// 透過度
$opacity: 0.6;

//filter
$img-filter: grayscale(100%) contrast(80%);

// ヘッダー
$header-background: #fff;
$header-color: #fff;
$drawer-menu: #F7B97D;

//shadow
$header-shadow: 5px 0px 2px rgba(0, 0, 0, 0.08);
$header-contact: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
$box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);

// フッター
$footer-background: #333;

// button
$btn-background: #757575;
$btn-solid: #333;
$btn-color: #fff;
$btn-hover: #F7B97D;
$pagetop: #d8d8d8;

//required
$required-color: #ee1111;

// font family
$font-en: "heebo", "zen-kaku-gothic-new", sans-serif;
$font-jp: "zen-kaku-gothic-new", "hiragino-kaku-gothic-pron", "heebo",sans-serif;

$font-bg: "rajdhani", "heebo", "zen-kaku-gothic-new", sans-serif;
$ff-awesome: "Font Awesome 5 Free", sans-serif;
$ff-code: monospace, sans-serif;


$font-size: 16px;

$ff-base: $font-jp;
$fz-base: calc($font-size / 16px * 1rem);
$fw-base: 500;
$lh-base: 1.6;