@use "../setting" as set;

.p-privacy {
  h3 {
    @include set.font(22, 22, 0, 700);
    margin: 40px 0 20px;
  }
  
  p {
    @include set.font(16, 28, 0, 400);
  }
  
  li {
    @include set.font(16, 28, 0, 400);
    list-style: decimal;
    margin-left: 20px;
  }
}