/*==========================================================
foundation
==========================================================*/
@use "foundation/reset";
@use 'foundation/_swiper_bundle';
@use "foundation/base";

/*==========================================================
layout
==========================================================*/
@use "layout/l-footer";
@use "layout/l-top";
@use "layout/l-header";
@use "layout/l-inner";
@use "layout/l-catch";
@use "layout/l-work";
@use "layout/l-content";
@use "layout/l-profile";
@use "layout/main";
@use "layout/nav";

/*==========================================================
component
==========================================================*/
@use "object/component/c-drawer";
@use "object/component/c-section";
@use "object/component/c-content";
@use "object/component/c-header";
@use "object/component/c-catch";
@use "object/component/c-work-card";
@use "object/component/c-overview";
@use "object/component/c-button";
@use "object/component/breadcrumb";
@use "object/component/c-footer";
@use "object/component/c-form";
@use "object/component/swiper";

//pointer
@use "object/component/pointer";

/*==========================================================
project
==========================================================*/
@use "object/project/p-error";
@use "object/project/p-price";
@use "object/project/p-privacy";
@use "object/project/p-works";
@use "object/project/sns";

/*==========================================================
utility
==========================================================*/
@use 'object/utility/_color';
@use 'object/utility/_display';
@use 'object/utility/_font';
@use 'object/utility/_cursor';
@use 'object/utility/_hr';
@use 'object/utility/_img';
@use 'object/utility/_link';
@use 'object/utility/_margin';
@use 'object/utility/_width';
@use 'object/utility/_fontsize';
@use 'object/utility/_linheight';
@use 'object/utility/_underline';
@use 'object/utility/_inview';
@use 'object/utility/_highlight';