@use "../global/" as g;

.l-catch {
  position: relative;
  padding-top: 60px;
  padding: 0 calc(g.$pd-x-pc / 2);
  max-width: 1280px;
  @include g.mq("tab") {
    padding-top: 60px;
  }
  @include g.mq("sp") {
    padding: 40px g.$pd-x-sp 0;
  }

  &__phrase {
    position: absolute;
    top: 0;
    transform: translateY(-42%);
    z-index: 2;
    @include g.mq("sp") {
      position: relative;
      transform: translateY(0);
      width: 90%;
    }

    &:hover {
      .c-catch__phrase span::before,
      .c-catch__phrase span::after {
        background: g.$color-accent;
        transition: all g.$transition;
      }

      .c-catch__phrase-accent {
        color: g.$color-accent;
        transition: all g.$transition;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding-left: calc(g.$pd-x-pc / 2);
    gap: 24px;
    @media (max-width:870px) {
      flex-direction: column;
      padding-left: 0;
    }
    @include g.mq("sp") {
      margin-top: 20px;
    }
  }

  &__text {
    width: 50%;
  }
}

