*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html,
body {
	line-height: 1;
}

img {
	border: none;
	height: auto;
	vertical-align: bottom;
	width: 100%;
}

ul,
ol {
	list-style: none;
	list-style-type: none;
}

li,
dd {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

html {
	font-size: 100%;
}

body {
	color: #333333;
	display: flex;
	font-family: "zen-kaku-gothic-new", "hiragino-kaku-gothic-pron", "heebo", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-align: left;
}

main {
	margin-left: auto;
	width: 80%;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.l-footer {
	background: #333;
}

.l-header {
	background: #fff;
	box-shadow: 5px 0px 2px rgba(0, 0, 0, 0.08);
	height: 100%;
	min-width: 225px;
	padding: 50px 20px;
	position: fixed;
	width: 20%;
	z-index: 20;
}

.l-header__pc {
	height: 100%;
	position: relative;
	width: 100%;
}

.l-header__logo img {
	filter: grayscale(100%) contrast(80%);
}

.l-header__logo img:hover {
	filter: none;
	opacity: 0.6;
	transition: all 0.4s;
}

.l-header__nav {
	margin-top: 100px;
	padding-left: 0.8rem;
}

.l-header__contact {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.l-header__sp {
	display: none;
	height: 50px;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 20;
}

.l-header__logo-sp {
	width: 208px;
}

.l-header__contact-sp {
	height: 50px;
	position: fixed;
	right: 60px;
	top: 0;
	width: 80px;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 8.7893%;
}

.l-catch {
	max-width: 1280px;
	padding: 0 4.39465%;
	padding-top: 40px;
	position: relative;
}

.l-catch__phrase {
	position: absolute;
	top: 0;
	transform: translateY(-42%);
	z-index: 2;
}

.l-catch__phrase:hover .c-catch__phrase span::before,
.l-catch__phrase:hover .c-catch__phrase span::after {
	background: #F7B97D;
	transition: all 0.4s;
}

.l-catch__phrase:hover .c-catch__phrase-accent {
	color: #F7B97D;
	transition: all 0.4s;
}

.l-catch__phrase:hover .l-text-accent::after {
	background: #F7B97D;
	transition: all 0.4s;
}

.l-catch__body {
	align-items: end;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 4.39465%;
}

.l-catch__text {
	width: 50%;
}

.l-work__card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.l-work__card {
	flex: 0 1 calc(50% - 31px);
}

.l-work__card:nth-child(2n) {
	margin-left: 62px;
}

.l-work__card:nth-child(n+3) {
	margin-top: 40px;
}

.l-content {
	margin-top: 120px;
}

.l-content__bg {
	background: url(../img/top-bg.jpg) no-repeat center center/cover;
	background-attachment: fixed;
	margin-top: 80px;
	padding-bottom: 40px;
	padding-top: 40px;
}

.l-text-accent {
	position: relative;
	z-index: 2;
}

.l-text-accent::after {
	background: #d8d8d8;
	bottom: 4px;
	content: "";
	height: 0.5rem;
	left: 0;
	position: absolute;
	transition: all 0.4s;
	width: 100%;
	z-index: -1;
}

.l-profile {
	width: 67%;
}

.c-drawer-icon {
	background: #F7B97D;
	border-radius: 0 0 0 6px;
	color: #fff;
	display: none;
	height: 50px;
	padding: 10px 13px 5px;
	position: fixed;
	right: 0;
	top: 0;
	transition: transform 0.5s ease 0s;
	width: 50px;
	z-index: 40;
}

.c-drawer-icon::after {
	bottom: 5px;
	color: currentColor;
	content: "MENU";
	font-size: 12px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.c-drawer-icon.is-active {
	transition: all 0.4s;
}

.c-drawer-icon.is-active .c-drawer-icon__bars span:nth-child(1) {
	top: 8px;
	transform: rotate(-45deg);
	transition: all 0.4s;
}

.c-drawer-icon.is-active .c-drawer-icon__bars span:nth-child(2) {
	display: none;
	transition: all 0.4s;
}

.c-drawer-icon.is-active .c-drawer-icon__bars span:nth-child(3) {
	top: 8px;
	transform: rotate(45deg);
	transition: all 0.4s;
}

.c-drawer-icon__bars {
	display: block;
	height: 20px;
	position: relative;
	position: relative;
	width: 24px;
}

.c-drawer-icon__bars span {
	background: #333333;
	background-color: currentColor;
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.c-drawer-icon__bars span:nth-child(1) {
	top: 0;
	transition: all 0.4s;
}

.c-drawer-icon__bars span:nth-child(2) {
	animation: line-ToRight 0.7s ease both;
	top: 8px;
	transition: all 0.4s;
}

.c-drawer-icon__bars span:nth-child(3) {
	top: 16px;
	transition: all 0.4s;
}

.c-drawer-content {
	background: #d8d8d8;
	height: 100%;
	padding-top: 170px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateY(-110%);
	transition: transform 0.5s ease 0s;
	width: 100%;
	z-index: 30;
}

.c-drawer-content.is-active {
	transform: translateY(0%);
	transition: all 0.4s;
}

.c-drawer-content__item {
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	width: 270px;
}

.c-drawer-content__item a {
	color: #707070;
	display: block;
	font-size: 1.875rem;
	font-weight: 200;
	letter-spacing: 0.01905em;
	line-height: 0.8;
	padding: 18px 20px;
}

.c-drawer-content__item a:hover {
	color: #F7B97D;
}

.c-header__sns-links-sp {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.c-header__sns-links-sp .c-header__sns-link:last-child {
	margin-left: 20px;
}

.l-drawer__contact-sp {
	margin: 150px auto 0;
	max-width: 100%;
	padding: 0 20px;
	width: 276px;
}

.c-section {
	padding-bottom: 15px;
	position: relative;
	text-align: center;
}

.c-section::after {
	background: #F7B97D;
	bottom: 0;
	content: "";
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 64px;
}

.c-content__title {
	border-bottom: 1px solid #333;
	font-family: "heebo", "zen-kaku-gothic-new", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	margin-bottom: 120px;
	max-width: 100%;
	padding-bottom: 5px;
	position: relative;
	white-space: nowrap;
	width: 200px;
}

.c-content__title::after {
	background: #333;
	bottom: 0;
	content: "";
	height: 13px;
	position: absolute;
	right: 4px;
	transform: translate(0%, 87%) rotate(45deg);
	width: 1px;
}

.c-content__title--long {
	width: 400px;
}

.c-content__sub-title {
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 1;
	margin-bottom: 40px;
	margin-top: 40px;
}

.c-content__text {
	line-height: 200%;
	margin-bottom: 20px;
}

.c-content__name {
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 1.21;
	margin-top: 40px;
	padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.c-content__name::before {
	background: #595757;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 500px;
}

.c-content__name::after {
	content: ":";
	position: absolute;
	right: 0;
	top: 44%;
	transform: translateY(-50%);
}

.c-content__body {
	width: 85%;
}

.c-content__body:hover .l-text-accent::after {
	background: #F7B97D;
	transition: all 0.4s;
}

.c-content__list-item {
	padding-left: 20px;
	position: relative;
}

.c-content__list-item:not(:first-child) {
	margin-top: 10px;
}

.c-content__list-item::before {
	background: url(../img/check-box.svg);
	content: "";
	height: 12px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
}

.c-content__img {
	margin: 100px 0 120px;
	width: 80%;
}

.c-content__overview {
	max-width: 100%;
	width: 1280px;
}

.c-content-bg {
	color: #d8d8d8;
	font-family: "rajdhani", "heebo", "zen-kaku-gothic-new", sans-serif;
	font-size: 7.5rem;
	font-weight: 400;
	letter-spacing: 0.14523em;
	line-height: 1;
	position: fixed;
	right: 20px;
	top: 20px;
	writing-mode: vertical-lr;
	z-index: -1;
}

.c-header__nav-item {
	font-family: "heebo", "zen-kaku-gothic-new", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0em;
	line-height: 1;
	padding: 10px;
}

.c-header__nav-item span {
	font-size: 0.75rem;
	font-weight: 300;
	letter-spacing: 0em;
	line-height: 1.3333333333;
	margin-left: 0.5rem;
}

.c-header__nav-item:hover {
	color: #6f3f1e;
	opacity: 0.6;
}

.c-header__sns-links {
	padding-left: 20px;
}

.c-header__sns-link {
	font-size: 32px;
	height: 42px;
	margin-top: 0.8rem;
	width: 42px;
}

.c-header__sns-link--twitter {
	padding: 10px;
}

.c-header__sns-link--twitter:hover .fa-twitter {
	color: rgb(29, 155, 240);
	transition: all 0.4s;
}

.c-header__sns-link--github {
	padding: 10px;
}

.c-header__sns-link--github:hover .octicon-mark-github {
	fill: #fff;
	background: #24292f;
	transition: all 0.4s;
}

.github-box {
	height: 100px;
	width: 100px;
}

.octicon-mark-github {
	border-radius: 50%;
}

.c-catch {
	align-items: center;
	align-items: center;
	background: #fff;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	max-width: 100%;
	padding: 1.25rem;
	width: 23.4375rem;
}

.c-catch:nth-child(2) {
	margin-top: 20px;
}

.c-catch__phrase {
	font-family: "heebo", "zen-kaku-gothic-new", sans-serif;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0em;
	line-height: 1;
	position: relative;
	white-space: nowrap;
	width: -moz-fit-content;
	width: fit-content;
	z-index: 2;
}

.c-catch__phrase span {
	position: relative;
	transition: all 0.4s;
	z-index: -1;
}

.c-catch__phrase span::before {
	background: #d8d8d8;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 50px;
	z-index: 1;
}

.c-catch__phrase span::after {
	background: #d8d8d8;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 50px;
	z-index: 1;
}

.c-catch__phrase-accent {
	color: #d8d8d8;
	font-size: 2.375rem;
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 1;
	padding-left: 29px;
	transition: all 0.4s;
	white-space: nowrap;
}

.c-catch__lead {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0em;
	line-height: 1;
}

.c-catch__img {
	margin-left: auto;
	max-width: 100%;
	width: 350px;
}

.c-catch__body {
	float: left;
}

.c-catch__body:hover .l-text-accent::after {
	background: #F7B97D;
	transition: all 0.4s;
}

.c-work__card-img {
	filter: grayscale(100%) contrast(80%);
	overflow: hidden;
	width: 100%;
}

.c-work__card-item {
	position: relative;
}

.c-work__card-item:hover .c-work__card-img {
	filter: none;
	transition: all 0.4s;
}

.c-work__card-item:hover .c-work__card-img img {
	transform: scale(1.1, 1.1);
	transition: all 0.4s;
}

.c-work__card-tag {
	background: #fff;
	border: 1px solid #333;
	border-radius: 50px;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	padding: 5px 26px;
	position: absolute;
	right: 5px;
	top: 10px;
	z-index: 1;
}

.c-work__card-link {
	display: flex;
	font-size: 12px;
	margin-left: auto;
	padding: 20px 0;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.c-work__card-link i {
	margin-right: 5px;
}

.c-overview {
	margin: 0 auto;
	max-width: 100%;
	width: 570px;
}

.c-overview dl {
	border-bottom: 1px solid #595757;
	display: flex;
	padding: 20px 0;
}

.c-overview dt {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.01936em;
	line-height: 1;
	width: 122px;
}

.c-overview dd {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01936em;
	line-height: 1.5;
	margin-left: 20px;
	width: calc(100% - 122px);
}

.c-overvirew__work {
	margin-top: 20px;
}

.c-button-contact {
	background: #fff;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
	color: #333;
	margin: 0 auto;
	width: 80%;
}

.c-button-contact:hover {
	background: #F7B97D;
	transition: all 0.4s;
}

.c-button-contact-profile {
	background: #fff;
	border: 1px solid #595757;
	margin: 80px auto;
	padding: 25px 50px;
	transition: all 0.4s;
	width: -moz-fit-content;
	width: fit-content;
}

.c-button-contact-profile:hover {
	background: #333;
	color: #fff;
	transition: all 0.4s;
}

.c-contact-button {
	align-items: center;
	background: #fff;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	padding: 18px 20px 17px 5px;
	width: 100%;
}

.c-contact-button img {
	height: auto;
	margin-right: 10px;
	width: 32px;
}

.c-contact-button:hover {
	background: #F7B97D;
	color: #fff;
	transition: all 0.4s;
}

.c-contact-button:hover img {
	filter: invert(100);
	transition: all 0.4s;
}

.c-contact-button-sp {
	align-items: center;
	background: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	padding: 5px 5px 12px;
	position: relative;
	width: 100%;
}

.c-contact-button-sp img {
	height: auto;
	margin: 0 auto 3px;
	width: 28px;
}

.c-contact-button-sp::after {
	bottom: 0;
	content: "Contact";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.c-contact-button-sp:hover {
	background: #F7B97D;
	color: #fff;
	transition: all 0.4s;
}

.c-contact-button-sp:hover img {
	filter: invert(100);
	transition: all 0.4s;
}

.c-content-button {
	-webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
	background: #757575;
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
	height: 30px;
	margin-left: auto;
	margin-top: 40px;
	width: 120px;
	z-index: -1;
}

.c-button-more {
	-webkit-clip-path: polygon(1px 1px, calc(90% - 0.5px) 1px, calc(100% - 1.5px) 50%, calc(90% - 0.5px) calc(100% - 1px), 1px calc(100% - 1px));
	align-items: center;
	background: #fff;
	clip-path: polygon(1px 1px, calc(90% - 0.5px) 1px, calc(100% - 1.5px) 50%, calc(90% - 0.5px) calc(100% - 1px), 1px calc(100% - 1px));
	color: #333333;
	display: flex;
	height: inherit;
	width: inherit;
	z-index: 1;
}

.c-button-more span {
	font-family: "heebo", "zen-kaku-gothic-new", sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	padding: 3px 40px 3px 30px;
}

.c-button-more:hover {
	background: #757575;
	transition: all 0.4s;
}

.c-button-more:hover span {
	color: #fff;
	transition: all 0.4s;
}

#c-pagetop {
	background: #d8d8d8;
	border-radius: 50%;
	bottom: 40px;
	height: 60px;
	padding: 23px;
	position: fixed;
	right: 40px;
	width: 60px;
	z-index: 30;
}

.breadcrumb {
	display: flex;
	margin-top: 40px;
	padding-left: 30px;
}

.breadcrumb span {
	margin: 0 10px;
}

.c-footer__logo {
	height: auto;
	padding-top: 50px;
	width: 227px;
}

.c-footer__body {
	display: flex;
	margin-bottom: 50px;
	margin-top: 40px;
	max-width: 1280px;
	padding: 0 70px;
}

.c-footer__active {
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01936em;
	line-height: 1;
	width: 50%;
}

.c-footer__address {
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01936em;
	line-height: 1;
	width: 50%;
}

.c-footer__name {
	margin-bottom: 20px;
	padding-right: 10px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.c-footer__name::after {
	color: #fff;
	content: ":";
	position: absolute;
	right: 0;
	top: 0;
}

.c-footer__text span {
	font-size: 0.75rem;
	margin-top: 20px;
}

.c-footer__copy {
	color: #fff;
	padding-bottom: 20px;
	text-align: center;
}

.wp-block-table {
	margin: 60px auto 0;
	max-width: 100%;
	width: 570px;
}

.wp-block-table td {
	border: none;
}

#mw_wp_form_mw-wp-form-35 input[type=text],
#mw_wp_form_mw-wp-form-35 input[type=email],
#mw_wp_form_mw-wp-form-35 input[type=url],
#mw_wp_form_mw-wp-form-35 input[type=hidden] {
	border: none;
	border-bottom: 1px solid #333;
	line-height: 27px;
	padding-bottom: 10px;
	width: 100%;
}

#mw_wp_form_mw-wp-form-35 textarea {
	border: 1px solid #d8d8d8;
	height: 180px;
	width: 100%;
}

#mw_wp_form_mw-wp-form-35 input[type=submit] {
	background-color: #333;
	border: 1px solid #333;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	margin-top: 40px;
	padding: 50px;
	transition: all 0.4s;
	width: 100%;
}

#mw_wp_form_mw-wp-form-35 input[type=submit]:hover {
	background: #fff;
	color: #333;
	transition: all 0.4s;
}

#mw_wp_form_mw-wp-form-35 input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #595757;
	border-radius: 50%;
	height: 16px;
	position: relative;
	width: 16px;
}

#mw_wp_form_mw-wp-form-35 input[type=radio]:checked::before {
	background: #F7B97D;
	border-radius: 50%;
	content: "";
	height: 10px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
}

#mw_wp_form_mw-wp-form-35 input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border: 1px solid #595757;
	height: 20px;
	margin: -3px 15px 0 0;
	width: 20px;
}

#mw_wp_form_mw-wp-form-35 input[type=checkbox]:checked::before {
	-webkit-mask: url(../img/check-box.svg) no-repeat center center/cover;
	background-color: #F7B97D;
	content: "";
	display: block;
	height: 18px;
	left: 0;
	mask: url(../img/check-box.svg) no-repeat center center/cover;
	top: 0;
	width: 18px;
}

.c-form__title {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.01936em;
	line-height: 1;
	margin: 20px 0;
}

.c-form th {
	border: none;
	border-bottom: 1px solid #d8d8d8;
	padding: 20px 0 10px;
	position: relative;
	white-space: nowrap;
	width: 140px;
}

.c-form td {
	margin-left: 20px;
	padding-bottom: 0;
	position: relative;
	width: calc(100% - 160px);
}

.c-form td .error {
	position: absolute;
	right: 0;
	top: 35%;
}

.c-form__privacyPolicy {
	display: flex;
	justify-content: center;
}

.c-form__privacyLink {
	display: flex;
}

.c-form__privacyLink a {
	border-bottom: 1px solid #595757;
}

.c-form__privacyLink a:hover {
	opacity: 0.6;
}

.c-required {
	color: #ee1111;
	margin-left: 5px;
	position: relative;
	top: -3px;
}

.c-privacy {
	margin-top: 40px;
	text-align: center;
}

.l-top:hover .swiper-slide-item {
	filter: none;
	transition: all 0.8s;
}

.swiper-slide-item {
	filter: grayscale(100%) contrast(80%);
	height: auto;
	overflow: hidden;
	width: 100%;
}

.swiper-slide-item img {
	-o-object-fit: contain;
	object-fit: contain;
}

.p-price__table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 80%;
}

.p-price__table th,
.p-price__table td {
	border: 1px solid #595757;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01936em;
	line-height: 1;
	padding: 8px 20px;
}

.p-price__table th {
	width: 30%;
}

.p-price__table tr:nth-child(2n) {
	background-color: #d8d8d8;
}

.p-price__text {
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	margin-top: 10px;
}

.p-privacy h3 {
	font-size: 1.375rem;
	font-weight: 700;
	letter-spacing: 0em;
	line-height: 1;
	margin: 40px 0 20px;
}

.p-privacy p {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.75;
}

.p-privacy li {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1.75;
	list-style: decimal;
	margin-left: 20px;
}

.wp-block-embed-twitter {
	margin-bottom: 40px;
}

.p-works__title {
	font-size: 2.375rem;
	font-weight: 400;
	letter-spacing: 0.001em;
	line-height: 1;
	margin-bottom: 40px;
	margin-top: 40px;
}

.p-works__meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.p-works__date {
	color: #595757;
}

.p-works__link:hover {
	opacity: 0.6;
}

.p-works__basic {
	margin-bottom: 40px;
}

.p-works__basic-title {
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.001em;
	line-height: 1;
	margin-bottom: 10px;
}

.p-works__basic-text {
	margin-right: 20px;
	position: relative;
	width: 120px;
}

.p-works__basic-text::after {
	content: ":";
	position: absolute;
	right: 0;
	top: 0;
}

.p-works__page-nation {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.p-works__page-link a:hover {
	opacity: 0.6;
}

.p-works__link-sum {
	background: #757575;
	border: 1px solid #333;
	color: #fff;
	margin: 0 50px;
	padding: 10px 50px;
}

.p-works__link-sum:hover {
	background: #F7B97D;
}

.p-error-page {
	font-size: 8rem;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1;
	margin-top: 300px;
	text-align: center;
}

.p-error-title {
	color: #595757;
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 0.001em;
	line-height: 1;
	margin-bottom: 40px;
	text-align: center;
}

.p-error-text {
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.001em;
	line-height: 1;
	text-align: center;
}

.p-error-btn {
	display: flex;
	justify-content: center;
	padding-bottom: 120px;
}

.p-error__top {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
}

.p-error__top:hover {
	opacity: 0.6;
}

@media (max-width: 1109px) {

html {
	font-size: 80%;
}

main {
	width: calc(100% - 225px);
}

.l-catch {
	padding-top: 100px;
}

.l-work__card {
	flex: 0 1 calc(50% - 10px);
}

.l-work__card:nth-child(2n) {
	margin-left: 20px;
}

.c-catch__img {
	width: 50%;
}

.c-footer__body {
	padding: 0 30px;
}

}

@media (max-width: 870px) {

.not-sp {
	display: none;
}

.c-catch__body {
	padding-bottom: 17%;
}

}

@media (max-width: 767px) {

body {
	display: block;
}

main {
	padding-top: 50px;
	width: 100%;
}

.l-header {
	display: none;
	padding: 0px;
}

.l-header__logo img {
	filter: none;
}

.l-header__sp {
	display: flex;
}

.l-inner {
	padding: 0 5%;
}

.l-catch {
	padding: 159px 5% 0;
}

.l-catch__phrase {
	top: 50px;
	width: 90%;
}

.l-catch__body {
	display: block;
	padding-left: 0;
}

.l-work__card-list {
	display: block;
}

.l-work__card {
	width: 100%;
}

.l-work__card:nth-child(2n) {
	margin-left: 0px;
}

.l-content {
	margin-top: 80px;
}

.l-text-accent::after {
	background: #F7B97D;
}

.c-drawer-icon {
	display: block;
}

.c-content__title {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 1;
	margin-bottom: 80px;
	width: 170px;
}

.c-content__title--long {
	width: 300px;
}

.c-content__sub-title {
	margin-bottom: 20px;
}

.c-content__text {
	margin-bottom: 20px;
}

.c-content__name::before {
	width: 100%;
}

.c-content__body {
	padding-left: 20px;
	width: calc(100% - 20px);
}

.c-content__img {
	margin: 50px 0 80px;
	width: 100%;
}

.c-content-bg {
	display: none;
}

.c-catch__phrase span::before,
.c-catch__phrase span::after {
	background: #F7B97D;
}

.c-catch__phrase-accent {
	color: #F7B97D;
}

.c-catch__img {
	margin: 0 auto 5.3vw;
	max-width: 100%;
	width: 300px;
}

.c-catch__body {
	float: none;
	padding-bottom: 0;
	text-align: center;
	width: 100%;
}

.c-work__card-img {
	filter: none;
}

.c-overview dt {
	width: 90px;
}

.c-content-button {
	margin-top: 20px;
}

#c-pagetop {
	bottom: 20px;
	height: 40px;
	padding: 13px 14px;
	right: 20px;
	width: 40px;
}

.breadcrumb {
	margin-top: 20px;
	padding-left: 10px;
}

.breadcrumb span {
	margin-left: 5px;
}

.c-footer__body {
	display: block;
	margin: 20px auto 40px;
	padding: 0 90px;
}

.c-footer__active {
	width: 100%;
}

.c-footer__address {
	margin-top: 40px;
	width: 100%;
}

.wp-block-table {
	margin-top: 20px;
}

#mw_wp_form_mw-wp-form-35 input[type=text],
#mw_wp_form_mw-wp-form-35 input[type=email],
#mw_wp_form_mw-wp-form-35 input[type=url],
#mw_wp_form_mw-wp-form-35 input[type=hidden] {
	border: 1px solid #d8d8d8;
	line-height: 30px;
	padding-bottom: 3px;
}

#mw_wp_form_mw-wp-form-35 textarea {
	margin-top: 20px;
}

#mw_wp_form_mw-wp-form-35 input[type=submit] {
	padding: 20px;
}

.c-form__title {
	margin-bottom: 0;
}

.c-form tr {
	display: flex;
	flex-direction: column;
}

.c-form th {
	border: none;
	width: 100%;
}

.c-form td {
	margin-left: 0;
	padding: 0;
	width: 100%;
}

.swiper-slide-item {
	filter: none;
}

.p-price__table {
	width: 100%;
}

.p-works__title {
	margin-bottom: 20px;
}

.p-works__meta {
	display: block;
	margin-bottom: 20px;
}

.p-works__link {
	margin-top: 20px;
}

.p-error-page {
	margin-top: 150px;
}

.p-error-btn {
	padding-bottom: 60px;
}

}

@media (max-width: 400px) {

.c-catch {
	justify-content: center;
	width: 100%;
}

}

@keyframes line-ToRight {

from {
	left: 0;
	width: 0;
}

to {
	left: 0;
	width: 100%;
}

}

