@use "../../global/" as g;

.p-works {

  &__title {
    @include g.font(38, 38, 1, 400);
    margin-top: 40px;
    margin-bottom: 40px;

    @include g.mq("sp") {
      margin-bottom: 20px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include g.mq("sp") {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__date {
    color: g.$color-sub;
  }

  &__link {
    @include g.mq("sp") {
      margin-top: 20px;
    }
    &:hover {
      opacity: g.$opacity;
    }
  }

  &__basic {
    margin-bottom: 40px;
  }

  &__basic-title {
    display: flex;
    @include g.font(16, 16, 1, 400);
    margin-bottom: 10px;
  }

  &__basic-text {
    position: relative;
    width: 120px;
    margin-right: 20px;

    &::after {
      position: absolute;
      content: ":";
      top: 0;
      right: 0;
    }
  }

  &__page-nation {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__prev-link,
  &__next-link {
    transition: all g.$transition;

    &:hover {
      opacity: g.$opacity;
    }

    i {
      transition: all g.$transition 0.1s;
    }
  }

  &__prev-link {
    &:hover {
      transform: translateX(10px);

      i {
        transform: translateX(10px);
      }
    }
  }

  &__next-link {
    &:hover {
      transform: translateX(-10px);

      i {
        transform: translateX(-10px);
      }
    }
  }

  &__link-sum {
    position: relative;
    color: g.$btn-color;
    background: g.$btn-background;
    margin: 0 50px;
    transition: all g.$transition;

    &:hover {
      background: inherit;

      &::before {
        opacity: 1;
        transform: scale(1, 1);
      }

      &::after {
        transform: scale(0, 0);
        opacity: 0;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      inset: 0;
      opacity: 0;
      background: g.$btn-hover;;
      transform: scale(1.3, 1.3);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      inset: 0;
      transition: all g.$transition;
      border: 1px solid g.$btn-solid;
    }

    a {
      width: 100%;
      padding: 10px 50px;
    }
  }
}