@use '../../global' as g;

/* cursor
----------------------------------------------------------------- */
.u-cursor {
  &--pointer {
    cursor: pointer;
  }

  &--default {
    cursor: default;
  }

  &--events-none {
    pointer-events: none;
  }
}
