@use "../../global/" as g;

.breadcrumb {
  margin-top: 40px;
  display: flex;
  padding-left: 30px;
  @include g.mq("sp") {
    margin-top: 20px;
    padding-left: 10px;
  }

  span {
    margin: 0 10px;
    @include g.mq("sp") {
      margin-left: 5px;
    }
  }
}