@use "sass:map";
@use "../../global/" as g;

.c-drawer-icon {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px 13px 5px;
  z-index: map.get(g.$layer, drawer);
  display: none;
  border-radius: 0 0 0 6px;
  background: g.$drawer-menu;
  transition: transform g.$transition ease 0s;
  color: #fff;

  @include g.mq("sp") {
    display: block;
  }

  &::after {
    position: absolute;
    content: "MENU";
    color: currentColor;
    font-size: 12px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.is-active {
    transition: all g.$transition;

    .c-drawer-icon__bars span {
      &:nth-child(1) {
        transform: rotate(-45deg);
        transition: all g.$transition;
        top: 8px;
      }
      &:nth-child(2) {
        display: none;
        transition: all g.$transition;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        transition: all g.$transition;
        top: 8px;
      }
    }
  }
  &__bars {
    position: relative;
    width: 24px;
    height: 20px;
    display: block;
    position: relative;

    span {
      position: absolute;
      width: 24px;
      height: 2px;
      background: g.$color-text;
      top: 0;
      left: 0;
      background-color: currentColor;

      &:nth-child(1) {
        top: 0;
        transition: all g.$transition;
      }
      &:nth-child(2) {
        top: 8px;
        transition: all g.$transition;
        animation: line-ToRight .7s ease both;
      }
      &:nth-child(3) {
        top: 16px;
        transition: all g.$transition;
      }
    }
  }
}

@keyframes line-ToRight {
  from {
    left: 0;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}

.c-drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 170px;
  right: 0;
  top: 0;
  background: g.$color-background;
  z-index: map.get(g.$layer, floating);
  transform: translateY(-110%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateY(0%);
    transition: all g.$transition;
  }
  &__item {
    text-align: center;
    width: 270px;
    max-width: 100%;
    margin: 0 auto;

    a {
      @include g.font(30, 24, 19.05, 200);
      display: block;
      color: #707070;
      padding: 18px 20px;

      &:hover {
        color: g.$color-accent;
      }
    }
  }
}

.c-header__sns-links-sp {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .c-header__sns-link:last-child {
    margin-left: 20px;
  }
}

.l-drawer__contact-sp {
  width: 276px;
  max-width: 100%;
  margin: 150px auto 0;
  padding: 0 20px;
}