@use "../../global/" as g;

.c-header {
  &__nav-item {
    padding: 10px;
    font-family: g.$font-en;
    @include g.font(24, 24, 0, 300);

    span {
      @include g.font(12, 16, 0, 300);
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: g.$opacity;
      color: g.$color-brown;
    }
  }
}

.c-header__sns-links {
  padding-left: 20px;
}

.c-header__sns-link {
  width: 42px;
  height: 42px;
  font-size: 32px;
  margin-top: 0.8rem;

  &--twitter {
    padding: 10px;

    &:hover {
      .fa-twitter {
        color: rgb(29, 155, 240);
        transition: all .4s;
      }
    }
  }

  &--github {
    padding: 10px;

    &:hover {
      .octicon-mark-github {
        fill: #fff;
        background: #24292f;
        transition: all .4s;
      }
    }
  }
}

.github-box {
  width: 100px;
  height: 100px;
}

.octicon-mark-github {
  border-radius: 50%;
}


