@use "../../global/" as g;

#pointer {
  border-radius: 50%;
  position: fixed;
  top: -4px;
  left: -4px;
  pointer-events: none;
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 1001;
  @include g.mq("sp") {
    display: none;
  }

  &__stalker {
    pointer-events: none;
    position: fixed;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    background: rgba(g.$gray_dark, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s; //ちょっと遅れてついてくるように
    transition-timing-function: ease-out;
    transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 999;
    @include g.mq("sp") {
      display: none;
    }

    &.is-active {
      transform: scale(3);
      // background-color: #fff; /* 色を反転させるのに必要 */
      //  mix-blend-mode: difference; /* 色を反転 */
    }

    &.hov_{
      top: -32px;     //大きさに合わせて座標調節
      left: -32px;    //大きさに合わせて座標調節
      width: 64px;
      height: 64px;
      transition: .5s;
      background: rgba(#fdfe00, 0.5);
    }
  }
}