@use "sass:map";
@use "../setting" as set;

.c-button-contact {
  box-shadow: set.$header-contact;
  color: set.$color-main;
  background: set.$btn-color;
  width: 80%;
  margin: 0 auto;

  &:hover {
    transition: all .4s;
    background: set.$btn-hover;
  }
}

.c-button-contact-profile {
  margin: 80px auto;
  padding: 25px 50px;
  border: 1px solid set.$color-line;
  width: fit-content;
  background: #fff;
  transition: all .4s;
  
  &:hover {
    background: set.$btn-solid;
    color: #fff;
    transition: all .4s;
  }
}

.c-contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 18px 20px 17px 5px;
  background: set.$header-background;
  box-shadow: set.$box-shadow;

  img {
    width: 32px;
    height: auto;
    margin-right: 10px;
  }

  &:hover {
    transition: all .4s;
    background: set.$btn-hover;
    color: #fff;

    img {
      filter: invert(100);
      transition: all .4s;
    }
  }
}

.c-contact-button-sp {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 5px 12px;
  background: set.$header-background;
  box-shadow: set.$box-shadow;
  border-radius: 0 0 6px 6px;
  
  img {
    width: 28px;
    height: auto;
    margin: 0 auto 3px;
  }
  
  &::after {
    position: absolute;
    content: "Contact";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    transition: all .4s;
    background: set.$btn-hover;
    color: #fff;
  
    img {
      filter: invert(100);
      transition: all .4s;
    }
  }

}

.c-content-button {
  margin-left: auto;
  margin-top: 40px;
  width: 120px;
  height: 30px;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  background: set.$btn-background;
  z-index: -1;

  @include set.mq("sp") {
    margin-top: 20px;
  }
}

.c-button-more {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  clip-path: polygon(1px 1px, calc(90% - 0.5px) 1px, calc(100% - 1.5px) 50%, calc(90% - 0.5px) calc(100% - 1px), 1px calc(100% - 1px));
  color: set.$color-text;
  background: #fff;
  z-index: 1;

  span {
    font-family: set.$font-en;
    padding: 3px 40px 3px 30px;
    @include set.font(20, 20, 0, 400);
  }

  &:hover {
    transition: all .4s;
    background: set.$btn-background;

    span {
      transition: all .4s;
      color: #fff;
    }
  }
}

#c-pagetop {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background: set.$pagetop;
  border-radius: 50%;
  padding: 23px;
  z-index: map.get(set.$layer, pagetop);

  @include set.mq("sp") {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    padding: 13px 14px;
  }
}