@use "../setting" as set;

.c-section {
  position: relative;
  text-align: center;
  padding-bottom: 15px;

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background: set.$color-accent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}