@use "../setting" as set;

.c-work__card {
  &-img {
    filter: set.$img-filter;
    width: 100%;
    overflow: hidden;

    @include set.mq("sp") {
      filter: none;
    }
  }
  &-item {
    position: relative;
    &:hover {
      .c-work__card-img {
        transition: all 0.4s;
        filter: none;

        img {
          transform: scale(1.1, 1.1);
          transition: all 0.4s;
        }
      }
    }
  }

  &-tag {
    position: absolute;
    top: 10px;
    right: 5px;
    background: #fff;
    @include set.font(12, 12, 0, 400);
    padding: 5px 26px;
    border: 1px solid set.$color-main;
    border-radius: 50px;
    z-index: 1;
  }

  &-link {
    position: relative;
    display: flex;
    font-size: 12px;
    padding: 20px 0;
    width: fit-content;
    margin-left: auto;

    i {
      margin-right: 5px;
    }
  }
}