@use "../setting" as set;


.l-top {
  &:hover {
    .swiper-slide-item {
      transition: all .8s;
      filter: none;
    }
  }
}

// .swiper-android .swiper-slide, .swiper-wrapper,
// .swiper-slide .swiper-slide-duplicate .swiper-slide-duplicate-prev {
//   object-fit: contain;
// }

.swiper-slide-item {
  filter: set.$img-filter;
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    object-fit: contain;
  }

  @include set.mq("sp") {
    filter: none;
  }
}